@font-face {
  font-family: Poppins;
  src: url('./Fonts/Poppins/Poppins-Regular.ttf');
}

body {
  margin: 0;
  font-family:Poppins !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:Poppins !important;
}

html{
  font-family: Poppins !important;
}
